/* ================ Reset ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  min-height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
*:is(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
#root,
#__next {
  isolation: isolate;
}

/* ================ Variables ================ */
:root {
  --color-bg: #061b20;
  --color-bg-soft: #0e4834;
  --color-surface: #29544d;
  --color-surface-2: #2e3a46;

  --color-text: #d4d7da;
  --color-text-muted: #a8cbd5;
  --color-text-subtle: #6f7b87;

  --color-accent: #22d08f;
  --color-accent-strong: #2eca90;
  --color-accent-soft: #50e1ad;

  --color-warm: #d8aa95;
  --color-warm-dark: #552d27;
  --color-divider: #5b605e;
}
/* ================ Reusable ================ */
.section {
}
.section-title {
}
.section-text {
}
